<nav class="tabbar" id="tabbar">
    <a id="tab-home" href="#home" data-id="home" aria-label="홈" class="active">
      <div class="icon"><span class="fi fi-rr-home"></span></div>
      <span>홈</span>
    </a>
  
    <a id="tab-posts" href="#posts" data-id="posts" aria-label="글목록">
      <div class="icon"><span class="fi fi-rr-blog-text"></span></div>
      <span>글목록</span>
    </a>
  
    <a id="tab-community" href="#community" data-id="community" aria-label="커뮤니티">
      <div class="icon"><span class="fi fi-rr-tags"></span></div>
      <span>커뮤니티</span>
    </a>
  
    <a id="tab-profile" href="#profile" data-id="profile" aria-label="마이">
      <div class="icon"><span class="fi fi-rr-bell-ring"></span></div>
      <span>마이</span>
    </a>
</nav>